<!DOCTYPE html>
<html>
<head>
  <title>
    <%- if content_for? :page_title -%>
      <%= yield :page_title %> – Photo Gallery
    <%- else -%>
      Photo Gallery
    <%- end -%>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='row'>
    <div class='full col'>
      <nav>
        <ul>
          <li><%= link_to t('nav.home'), root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "#{t('nav.logout')} (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to t('nav.login'), new_user_session_path  %></li>
            <li><%= link_to t('nav.signup'), new_user_registration_path  %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <a href='?locale=zh-TW'>中</a> | <a href='?locale=en'>EN</a>

  <div class='row'>
    <div class='full col'>
      <%= yield %>
    </div>
  </div>

  <footer class='row'>
    <div class='half col'>
      <nav>
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </nav>
    </div>
    <div class="half col">
      <span class='copyright'>&copy; 2013</span>
    </div>
  </footer>

</body>
</html>
