<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_job_comment_path(@job, @comment) %> |
<%= link_to 'Back', job_comments_path(@job) %>
